*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

lib/.DS_Store
lib/documents/.DS_Store
spec/.DS_Store
spec/lib/.DS_Store
spec/lib/documents/.DS_Store
.DS_Store